:root{
--header-link-color:#090909;
--headings-color:#343434;
--normal-text-color:#121212;
--small-text-color:#060606;
--main-link-color:#ffffff;
--main-link-bgc:#060606;
--preface-color:#595959;
--hero-link-bgc:#8979E8;
--font-style:"Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* HTML  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-style), "Arial", sans-serif ;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
}

a:focus{
  outline: 1px dashed #0A775F;
  outline-offset: 5px;
}

.container{
  width: 100%;
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}


/* HEADER-HERO WRAPPER*/

.header-hero-wrapper {
  display: flex;
  flex-direction: column;
padding-right: 35px;
padding-left: 35px;
background-image: url(../img/Group.svg);
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 4px;
  padding-left: 26px;
}
.site-nav {
display: flex;
align-items: center;
}
.site-logo {
  margin-right: 45px;
width: 110px;
height: 31px;
}



.site-nav-link {
  font-family: var(--font-style);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
 text-decoration: none;
  color: var(--header-link-color);
}

.site-nav-link:not(:last-child){
  margin-right: 30px;
}

.site-nav-link:not(:nth-child(4)){
  margin-right: 47px;
}

.main-link {
padding: 14px 24px;
  font-family: var(--font-style);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border-radius: 300px;
background-color: var(--main-link-bgc);
  color:var(--main-link-color);
text-decoration: none;
}

/* HERO CONTENT */

.site-hero {
  padding-top: 91px;
  padding-left: 55px;
}

.information-sale-wrapper{
  display: flex;
  position: relative;
}

.site-hero-information {
display: flex;
flex-direction: column;
max-width: 481px;
margin-right: 69px;
}
.site-hero-information-preface {
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: var(--font-style);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;


  letter-spacing: 1.5px;
  color:var(--preface-color);
}
.site-hero-information-heading {
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: var(--font-style) ;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 67px;

  color: var(--headings-color) ;
  letter-spacing: 1.68px;
}
.site-hero-information-text {
  padding: 0;
  margin-top: 0;
  margin-bottom: 42px;
  font-family: var(--font-style) ;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
color: var(--normal-text-color) ;
}
.site-hero-information-links {
  display: flex;
  align-items: center;
}
.site-hero-information-link {
  padding-top: 1px;
  padding-right: 46px;
  padding-bottom: 0;
  padding-left: 46px;
  font-family: var(--font-style) ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: 2px solid var(--hero-link-bgc);
  border-radius: 300px;

  text-decoration: none;
  color: var(--hero-link-bgc) ;

}

.site-hero-information-link:hover{
  color:var(--main-link-color) ;
  background-color: var(--hero-link-bgc) ;
}

.site-hero-information-link:not(:last-child){
  margin-right: 12px;
}

.sale-img{
  display: block;
}

.sale-store{
width: 240px;
height: 315px;
margin-top: 100px;
margin-right: 134px;
}

.sale-girl{
width: 380px;
height: 340px;
position: absolute;
top: -7px;
left: 726px;
}

.sale-cart{
  width: 133px;
  height: 130px;
  margin-top: 278px;
  margin-right: 19px;
}

.sale-anons{
  width: 176px;
  height: 256px;
}